body{
    background-image: url(Images/meteorites-3840x2160-stars-planet-4k-15556.jpg);
    animation: alternate-reverse;
}
button :hover{
    size: 15px;
}
input{
    border: 1px solid #ddd;
    border-width: 3px;
    border-color: burlywood;
    outline: 0;
    padding: 2px;
    animation: alternate-reverse;
    border-radius: 25px;
}